Prototypes/Modulo.ModSIC.API.Tests/Service References/ServiceReference1/CollectService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Modulo.Collect.Service.Contract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Modulo.Collect.Service.Contract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1000/CollectService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:1000/CollectService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.ServiceModel" />
  <xs:complexType name="Package">
    <xs:sequence>
      <xs:element minOccurs="0" name="CollectRequests" nillable="true" type="tns:ArrayOfRequest" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Definitions" nillable="true" type="tns:ArrayOfDefinitionInfo" />
      <xs:element minOccurs="0" name="ScheduleInformation" nillable="true" type="tns:ScheduleInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Package" nillable="true" type="tns:Package" />
  <xs:complexType name="ArrayOfRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Request" nillable="true" type="tns:Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRequest" nillable="true" type="tns:ArrayOfRequest" />
  <xs:complexType name="Request">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Credential" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DefinitionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExternalVariables" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TargetParameters" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Request" nillable="true" type="tns:Request" />
  <xs:complexType name="ArrayOfDefinitionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DefinitionInfo" nillable="true" type="tns:DefinitionInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDefinitionInfo" nillable="true" type="tns:ArrayOfDefinitionInfo" />
  <xs:complexType name="DefinitionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DefinitionInfo" nillable="true" type="tns:DefinitionInfo" />
  <xs:complexType name="ScheduleInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="ScheduleDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScheduleInformation" nillable="true" type="tns:ScheduleInformation" />
  <xs:complexType name="SendRequestResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="HasErrors" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Requests" nillable="true" type="tns:ArrayOfRequestInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendRequestResult" nillable="true" type="tns:SendRequestResult" />
  <xs:complexType name="ArrayOfRequestInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RequestInfo" nillable="true" type="tns:RequestInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRequestInfo" nillable="true" type="tns:ArrayOfRequestInfo" />
  <xs:complexType name="RequestInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientRequestId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceRequestId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestInfo" nillable="true" type="tns:RequestInfo" />
  <xs:complexType name="UnauthorizedServiceAccessException">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/System.ServiceModel" base="q2:CommunicationException" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UnauthorizedServiceAccessException" nillable="true" type="tns:UnauthorizedServiceAccessException" />
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExecutionLogs" nillable="true" type="tns:ArrayOfExecutionLog" />
      <xs:element minOccurs="0" name="Status" type="tns:CollectStatus" />
      <xs:element minOccurs="0" name="SystemCharacteristics" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
  <xs:complexType name="ArrayOfExecutionLog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExecutionLog" nillable="true" type="tns:ExecutionLog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExecutionLog" nillable="true" type="tns:ArrayOfExecutionLog" />
  <xs:complexType name="ExecutionLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LogType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExecutionLog" nillable="true" type="tns:ExecutionLog" />
  <xs:simpleType name="CollectStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Complete" />
      <xs:enumeration value="Error" />
      <xs:enumeration value="Partial" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CollectStatus" nillable="true" type="tns:CollectStatus" />
  <xs:complexType name="ArrayOfCollectInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CollectInfo" nillable="true" type="tns:CollectInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCollectInfo" nillable="true" type="tns:ArrayOfCollectInfo" />
  <xs:complexType name="CollectInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CollectRequestId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceivedOn" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CollectInfo" nillable="true" type="tns:CollectInfo" />
</xs:schema>