Prototypes/Modulo.ModSIC.API.Tests/Service References/ServiceReference1/CollectService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CollectService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ICollectService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1000/CollectService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1000/CollectService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Modulo.Collect.Service.Contract" />
      <xsd:import schemaLocation="http://localhost:1000/CollectService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1000/CollectService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:1000/CollectService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.ServiceModel" />
      <xsd:import schemaLocation="http://localhost:1000/CollectService?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICollectService_SendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:SendRequest" />
  </wsdl:message>
  <wsdl:message name="ICollectService_SendRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ICollectService_SendRequest_UnauthorizedServiceAccessExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Modulo.Collect.Service.Contract" name="detail" element="q1:UnauthorizedServiceAccessException" />
  </wsdl:message>
  <wsdl:message name="ICollectService_GetCertificate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCertificate" />
  </wsdl:message>
  <wsdl:message name="ICollectService_GetCertificate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCertificateResponse" />
  </wsdl:message>
  <wsdl:message name="ICollectService_GetCertificate_UnauthorizedServiceAccessExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Modulo.Collect.Service.Contract" name="detail" element="q2:UnauthorizedServiceAccessException" />
  </wsdl:message>
  <wsdl:message name="ICollectService_GetCapabilities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCapabilities" />
  </wsdl:message>
  <wsdl:message name="ICollectService_GetCapabilities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCapabilitiesResponse" />
  </wsdl:message>
  <wsdl:message name="ICollectService_GetCapabilities_UnauthorizedServiceAccessExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Modulo.Collect.Service.Contract" name="detail" element="q3:UnauthorizedServiceAccessException" />
  </wsdl:message>
  <wsdl:message name="ICollectService_GetCollectedResultDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCollectedResultDocument" />
  </wsdl:message>
  <wsdl:message name="ICollectService_GetCollectedResultDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCollectedResultDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="ICollectService_GetCollectedResultDocument_UnauthorizedServiceAccessExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Modulo.Collect.Service.Contract" name="detail" element="q4:UnauthorizedServiceAccessException" />
  </wsdl:message>
  <wsdl:message name="ICollectService_CancelCollect_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelCollect" />
  </wsdl:message>
  <wsdl:message name="ICollectService_CancelCollect_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelCollectResponse" />
  </wsdl:message>
  <wsdl:message name="ICollectService_CancelCollect_UnauthorizedServiceAccessExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Modulo.Collect.Service.Contract" name="detail" element="q5:UnauthorizedServiceAccessException" />
  </wsdl:message>
  <wsdl:message name="ICollectService_GetCollectRequestsInExecution_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCollectRequestsInExecution" />
  </wsdl:message>
  <wsdl:message name="ICollectService_GetCollectRequestsInExecution_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCollectRequestsInExecutionResponse" />
  </wsdl:message>
  <wsdl:message name="ICollectService_GetCollectRequestsInExecution_UnauthorizedServiceAccessExceptionFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/Modulo.Collect.Service.Contract" name="detail" element="q6:UnauthorizedServiceAccessException" />
  </wsdl:message>
  <wsdl:message name="ICollectService_GetOvalResultDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOvalResultDocument" />
  </wsdl:message>
  <wsdl:message name="ICollectService_GetOvalResultDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOvalResultDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="ICollectService_GetOvalResultDocument_UnauthorizedServiceAccessExceptionFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/Modulo.Collect.Service.Contract" name="detail" element="q7:UnauthorizedServiceAccessException" />
  </wsdl:message>
  <wsdl:message name="ICollectService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ICollectService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ICollectService_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="ICollectService_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="ICollectService_Heartbeat_InputMessage">
    <wsdl:part name="parameters" element="tns:Heartbeat" />
  </wsdl:message>
  <wsdl:message name="ICollectService_Heartbeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:HeartbeatResponse" />
  </wsdl:message>
  <wsdl:portType name="ICollectService">
    <wsdl:operation name="SendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ICollectService/SendRequest" message="tns:ICollectService_SendRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICollectService/SendRequestResponse" message="tns:ICollectService_SendRequest_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICollectService/SendRequestUnauthorizedServiceAccessExceptionFault" name="UnauthorizedServiceAccessExceptionFault" message="tns:ICollectService_SendRequest_UnauthorizedServiceAccessExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCertificate">
      <wsdl:input wsaw:Action="http://tempuri.org/ICollectService/GetCertificate" message="tns:ICollectService_GetCertificate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICollectService/GetCertificateResponse" message="tns:ICollectService_GetCertificate_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICollectService/GetCertificateUnauthorizedServiceAccessExceptionFault" name="UnauthorizedServiceAccessExceptionFault" message="tns:ICollectService_GetCertificate_UnauthorizedServiceAccessExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCapabilities">
      <wsdl:input wsaw:Action="http://tempuri.org/ICollectService/GetCapabilities" message="tns:ICollectService_GetCapabilities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICollectService/GetCapabilitiesResponse" message="tns:ICollectService_GetCapabilities_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICollectService/GetCapabilitiesUnauthorizedServiceAccessExceptionFault" name="UnauthorizedServiceAccessExceptionFault" message="tns:ICollectService_GetCapabilities_UnauthorizedServiceAccessExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCollectedResultDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/ICollectService/GetCollectedResultDocument" message="tns:ICollectService_GetCollectedResultDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICollectService/GetCollectedResultDocumentResponse" message="tns:ICollectService_GetCollectedResultDocument_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICollectService/GetCollectedResultDocumentUnauthorizedServiceAccessExceptionFault" name="UnauthorizedServiceAccessExceptionFault" message="tns:ICollectService_GetCollectedResultDocument_UnauthorizedServiceAccessExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelCollect">
      <wsdl:input wsaw:Action="http://tempuri.org/ICollectService/CancelCollect" message="tns:ICollectService_CancelCollect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICollectService/CancelCollectResponse" message="tns:ICollectService_CancelCollect_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICollectService/CancelCollectUnauthorizedServiceAccessExceptionFault" name="UnauthorizedServiceAccessExceptionFault" message="tns:ICollectService_CancelCollect_UnauthorizedServiceAccessExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCollectRequestsInExecution">
      <wsdl:input wsaw:Action="http://tempuri.org/ICollectService/GetCollectRequestsInExecution" message="tns:ICollectService_GetCollectRequestsInExecution_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICollectService/GetCollectRequestsInExecutionResponse" message="tns:ICollectService_GetCollectRequestsInExecution_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICollectService/GetCollectRequestsInExecutionUnauthorizedServiceAccessExceptionFault" name="UnauthorizedServiceAccessExceptionFault" message="tns:ICollectService_GetCollectRequestsInExecution_UnauthorizedServiceAccessExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOvalResultDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/ICollectService/GetOvalResultDocument" message="tns:ICollectService_GetOvalResultDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICollectService/GetOvalResultDocumentResponse" message="tns:ICollectService_GetOvalResultDocument_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICollectService/GetOvalResultDocumentUnauthorizedServiceAccessExceptionFault" name="UnauthorizedServiceAccessExceptionFault" message="tns:ICollectService_GetOvalResultDocument_UnauthorizedServiceAccessExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/ICollectService/Login" message="tns:ICollectService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICollectService/LoginResponse" message="tns:ICollectService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/ICollectService/Logout" message="tns:ICollectService_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICollectService/LogoutResponse" message="tns:ICollectService_Logout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Heartbeat">
      <wsdl:input wsaw:Action="http://tempuri.org/ICollectService/Heartbeat" message="tns:ICollectService_Heartbeat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICollectService/HeartbeatResponse" message="tns:ICollectService_Heartbeat_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ICollectService" type="tns:ICollectService">
    <wsp:PolicyReference URI="#WSHttpBinding_ICollectService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendRequest">
      <soap12:operation soapAction="http://tempuri.org/ICollectService/SendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UnauthorizedServiceAccessExceptionFault">
        <soap12:fault use="literal" name="UnauthorizedServiceAccessExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCertificate">
      <soap12:operation soapAction="http://tempuri.org/ICollectService/GetCertificate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UnauthorizedServiceAccessExceptionFault">
        <soap12:fault use="literal" name="UnauthorizedServiceAccessExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCapabilities">
      <soap12:operation soapAction="http://tempuri.org/ICollectService/GetCapabilities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UnauthorizedServiceAccessExceptionFault">
        <soap12:fault use="literal" name="UnauthorizedServiceAccessExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCollectedResultDocument">
      <soap12:operation soapAction="http://tempuri.org/ICollectService/GetCollectedResultDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UnauthorizedServiceAccessExceptionFault">
        <soap12:fault use="literal" name="UnauthorizedServiceAccessExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CancelCollect">
      <soap12:operation soapAction="http://tempuri.org/ICollectService/CancelCollect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UnauthorizedServiceAccessExceptionFault">
        <soap12:fault use="literal" name="UnauthorizedServiceAccessExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCollectRequestsInExecution">
      <soap12:operation soapAction="http://tempuri.org/ICollectService/GetCollectRequestsInExecution" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UnauthorizedServiceAccessExceptionFault">
        <soap12:fault use="literal" name="UnauthorizedServiceAccessExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOvalResultDocument">
      <soap12:operation soapAction="http://tempuri.org/ICollectService/GetOvalResultDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UnauthorizedServiceAccessExceptionFault">
        <soap12:fault use="literal" name="UnauthorizedServiceAccessExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/ICollectService/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="http://tempuri.org/ICollectService/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Heartbeat">
      <soap12:operation soapAction="http://tempuri.org/ICollectService/Heartbeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CollectService">
    <wsdl:port name="WSHttpBinding_ICollectService" binding="tns:WSHttpBinding_ICollectService">
      <soap12:address location="http://localhost:1000/CollectService" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:1000/CollectService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>